[alias]
	br = branch -vv
	ci = commit
	co = checkout
	cp = cherry-pick
	di = diff
	ds = diff --staged
	lg = log --pretty=coloured
	lga = log --pretty=coloured --all --graph
	pf = push --force-with-lease
	pl = pull --rebase
	re = remote -v
	rs = restore --staged
	rb = rebase
	st = status
	sw = switch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[commit]
	verbose = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
	helper = osxkeychain
[pretty]
	coloured = format:%C(auto)%h %d %s %Cgreen(%cr) %C(bold blue)%an
[user]
	name = Josh Hill
	email = jamesjoshuahill@users.noreply.github.com
