[alias]
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	di = diff
	ds = diff --staged
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lga = !git lg --all
	pf = push --force-with-lease
	pl = pull --rebase
	rs = reset
	rb = rebase
	re = remote
	st = status
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = white 1
	newNormal = green
	newHighlight = white 28
[color "diff"]
	meta = cyan
	frag = magenta
	commit = yellow
	old = red
	new = green
	whitespace = red reverse
[commit]
	verbose = true
	template = /tmp/.git-author-template
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
	helper = osxkeychain
[user]
	name = Josh Hill
	email = josh.hill@makers.tech
[git-together "authors"]
	jh = "Josh Hill; josh.hill@makers.tech"
