"*":
  autosave:
    enabled: true
  core:
    telemetryConsent: "no"
  editor:
    fontFamily: "Inconsolata for Powerline, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 20
  "exception-reporting":
    userId: "17ed2d75-2536-4685-b577-f00046a26f98"
  "linter-shellcheck":
    enableNotice: true
  welcome:
    showOnStartup: false
