"*":
  autosave:
    enabled: true
  core:
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "SF Mono, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 19
    scrollPastEnd: true
  "exception-reporting":
    userId: "17ed2d75-2536-4685-b577-f00046a26f98"
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-shellcheck":
    enableNotice: true
  "linter-ui-default": {}
  "markdown-preview":
    useGitHubStyle: true
  "markdown-table-editor":
    formatOnSave: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
